<form method="POST" action="/new">
   <!-- formulario para novas mensagens -->
    <input type="text" name="message" placeholder="Digite sua mensagem">
    <input type="text" name="user" placeholder="Digite seu nome">
    <input type="submit" value="Enviar">
 </form>
 <button onclick="window.location.href='/'">Voltar</button>